// CUSTOM VARIABLES
$bg-color: #151515;
$form-bg: #242424;
$form-acc: #777777;
$mint: #81cbab;
// font
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
// font end

*, ::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    background-color: $bg-color;
    padding: 1em;
}
// HEADER
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    h3{
        color: #fff;
    }
    .socials{
        display: flex;
        gap: 1em;
        >*{
            max-width: 1.3em;    
        }
    }
}
// HEADER END

// SECTION > ABOUT-ME
.about-me{
    
    .wadie-image{
        width: 70%;
        outline: red solid;
        background-color: gray;
    }
}
// SECTION > ABOUT-ME END
