// CUSTOM VARIABLES
$bg-color: #151515;
$form-bg: #242424;
$form-acc: #777777;
$mint: #81cbab;
// font
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
// font end

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: $bg-color;
    padding: 1em;
}

// HEADER
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    h3 {
        color: #fff;
    }

    .socials {
        display: flex;
        gap: 1em;

        img {
            max-width: 1.3em;
            // outline: red solid;
        }
    }
}

// HEADER END

// SECTION > ABOUT-ME
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 1em;
    background: url('../images/pattern-circle.svg') no-repeat;
    background-size: 80px;
    background-position-x: 260px;
    background-position-y: 200px;

    .wadie-image {
        width: 70%;
        // outline: solid red;

    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        background: url('../images/pattern-rings.svg') no-repeat;
        background-size: contain;

        h1 {
            color: #fff;
            text-align: center;

            span {
                text-decoration: underline $mint;
                text-underline-offset: 5px;
                text-decoration-thickness: 3px;
            }
        }

        p {
            color: $form-acc;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            letter-spacing: 2px;
            text-decoration: underline $mint;
            text-underline-offset: 5px;
            text-decoration-thickness: 3px;
        }
    }
}

// SECTION > ABOUT-ME END

hr {
    margin-top: 4em;
    margin-bottom: 4em;
}

// ASIDE SKILLS
.skills {
    margin-top: 2em;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    color: #fff;
    row-gap: 2em;
    background: url('../images/pattern-rings.svg') 150px 460px no-repeat;


    .skill {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: .5em;

        p {
            color: $form-acc;
        }
    }
}
// ASIDE SKILLS END

//MAIN
main{
    .projects{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5em;
        color: #fff;

        .project{
                padding: .5em 0;
            img{
                max-width: 100%;
                border-radius: 5px;
            }

            .info{
                display: flex;
                flex-direction: column;
                gap: 1em;

                .stack{
                    display: flex;
                    gap: 1em;
                    font-size: 13px;
                    color: $form-acc;
                }

                .links{
                    display: flex;
                    gap: 1em;

                    a{
                        text-decoration: none;
                        font-size: 13px;
                        color: #fff;
                        font-weight: bold;
                        letter-spacing: 2px;
                        text-decoration: underline $mint;
                        text-underline-offset: 5px;
                        text-decoration-thickness: 3px;
                    }
                }
            }
        }
    }
}
//MAIN END